
body {
  font-family: Verdana, "Bitstream Vera Sans", sans-serif; background: #e0e0e0 url('/images/background1.jpg') no-repeat fixed center;
}

/* Headings
 * --------------------------------------------------------------------- */
h1,h2,h3,h4,h5,h6 { color: #ff0000; }

/* Text Elements
 * --------------------------------------------------------------------- */
a                 { color: #899798; text-decoration:none; }
a:hover           { color: #899798; }
blockquote        { color: #666; }

pre {
  background: #eee;
  border:     1px solid #ddd;
}

hr {
  background: #B2CCFF;
  color:      #B2CCFF;
}

/* Tables
 * --------------------------------------------------------------------- */
table {
  border-top:     1px solid #ddd;
  border-left:    1px solid #ddd;
}
th,td {
  border-bottom:  1px solid #ddd;
  border-right:   1px solid #ddd;
}

/* Default Classes
 * --------------------------------------------------------------------- */

p,li { font-size: 130%; }
p.quiet { color: #666; }
.alt    { color: #666; }

h1.title {
  color: #111;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 3em;

}

p.subtitle {	
  margin-bottom: 0.75em;
}

#header { height:72px;  margin-bottom:12px; }

#header h1.title {
	font-size: 300%;
	font-weight:bold;
	line-height: 1px; 
	margin: 26px 0px 12px 0;
	padding-bottom:4px;
	text-align:left;
}
#header h1.title a {text-decoration: none; 	color:#003DC7;}
#header p.subtitle { font-size: 12px;
	font-family: Monaco, 'Courier New', 'Terminal', monospace; line-height: 1; margin:0 10px 0 10px; 
		text-align:left;}

#banner {}

#side-menu {
	font: bold 150% Verdana, Tahoma, sans;
	letter-spacing:3px; 
	margin-top:10px; 
	overflow:auto; }
#side-menu ul { margin:auto;}
#side-menu li { 
	text-align:center;
	background:#0D2054;
	list-style: none;
	letter-spacing:-1px;
	margin-bottom:8px;  
 
	padding-top:3px; 
	padding-bottom:12px;
	}
	
#side-menu li a { padding-left:6px; padding-right:6px;}

#main-content {margin-top:10px; background:#ddd;}
#main-content h1 {color:#003DC7; font-weight:bold;}
.container { 
	margin-top:12px; 
	background:#FFFEBF;
	opacity: 0.85;
	-moz-opacity: 0.85;
	filter:alpha(opacity=85); 
}

.rounded
{
    margin: 0 auto;
    border: 0px solid #ddd;
    padding: 10px;
    text-align: left;
    border: 6px solid #ddd;
    margin-top: 20px;
    margin-bottom: 10px;

    /* Do rounding (native in Firefox and Safari, CC in IE) */
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    CCborderRadius: 15px;
}


.round-item
{
    margin: 0 auto;
    border: 0px solid #FFFEBF;
    padding: 6px;
    text-align: left;
    border: 3px solid #ddd;
    margin-bottom: 10px;

    /* Do rounding (native in Firefox and Safari, CC in IE) */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    CCborderRadius: 5px;
}

.thin-rounded {
	margin: 0 auto;
  border: 0px solid #ddd;
  padding: 10px;
  text-align: left;
  border: 3px solid #ddd;
  margin-top: 20px;
  margin-bottom: 10px;

  /* Do rounding (native in Firefox and Safari, CC in IE) */
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  CCborderRadius: 15px;
}

hr {visibility:hidden;}

.red {color:#FF0000;}
.blue {color:#003DC7;}
.monospace {color:#333; font-family: Monaco, 'Courier New', 'Terminal', monospace; letter-spacing:-1px; font-size:28px;}

/* EOF */
